body {
  background: #222;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
h2 {
  margin-top: 0;
}
h1 {
  text-align: center;
}
input {
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
}
input.disabled {
  color: black;
  font-weight: 300;
  background: none;
  border: none;
}

.users {
  text-align: center;
}
.users-logo {
  animation: users-logo-spin infinite 3s linear;
  height: 80px;
}
.users-header {
  background-color: #222;
  padding: 20px;
  color: white;
}
.users-title {
  font-size: 1.5em;
}
.users-intro {
  font-size: large;
}

.userlist-container, .detail-container, .register-container, .login-container {
  padding: 20px;
  margin: 20px 50px;
  border-radius: 3px;
  background: #f3f3f3;
}
.userlist-container .content {
  display: flex;
}
.userlist-container .content > div:first-child p {
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 5px;
}
.userlist-container .content > div:last-child {
  background: rgba(0, 0, 0, 0.1);
}
.userlist-container .content > div {
  flex: 1
}

.list-item {
  margin: 10px 0;
  list-style: none;
  display: flex;
  align-items: center;
}
li.list-item img {
  height: 20px;
  border-radius: 3px;
}
.list-item p {
  margin: 0 10px;
}

.user-detail {
  background: #f3f3f3;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 10px 50px;
}
.user-avatar {
  height: 80px;
  border-radius: 3px;
}
.user-detail label {
  font-size: 12px;
  margin-left: 5px;
}
.user-detail input {
  padding: 0 5px;
  margin: 0 5px;
}

.register-container, .login-container {
  text-align: center;
}
.register-container label, .login-container label {
  display: block;
  text-align: left;
  margin: 10px auto;
  max-width: 200px;
}
.form {
  margin: 0 auto;
}

.buttons {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}
.buttons button {
  background: white;
  border: none;
  border-bottom: 2px solid green;
  border-radius: 3px;
  margin: 0 10px;
  padding: 10px;
  min-width: 70px;
}

.notification-box {
  position: fixed;
  width: 50%;
  bottom: 0;
  left: 25%;
  text-align: center;
  padding: 20px;
  background: #bf2d2d;
  border-radius: 3px;
  margin: 10px;
  box-sizing: border-box;
  animation-name: notification-appear;
  animation-duration: 0.5s;
}

@keyframes notification-appear {
  from { bottom: -200px; }
  to { bottom: 0; }
}
@keyframes users-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
